.tokenlist {
    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        padding: 0.5em 1em;
        cursor: pointer;
        &:hover {
            background-color: var(--bg-link);
        }
    }
}